APP_ENV=development
APP_DEBUG=false
PHP_ERROR_LOG=
SECRET_KEY=GERE_UMA_CHAVE_FORTE_AQUI

DB_HOST=localhost
DB_NAME=sistema_pausas
DB_USER=chronodesk_user
DB_PASS=troque_esta_senha

AUTH_SOURCE=json_fallback
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Strict
CI_SESSION_ABSOLUTE_TIMEOUT=28800
CI_SESSION_IDLE_TIMEOUT=1800

AD_DOMAIN=gruponp.local
AD_UPN_SUFFIX=paschoalotto.com.br
AD_SERVERS=10.108.50.206,10.110.53.205,10.108.50.205
AD_PORT=389
AD_USE_TLS=false

AD_ADMIN_USERS=mmdcamargo,dhrmendes,rgluciano
ENABLE_LOCAL_ADMIN=true
